:root {
    --primary-bg-color: #1A1F23;
    --secondary-bg-color: #F5F8FA;
    --text-color: #24292D;
    --bright-blue: #3B94D9;
    --light-blue: #98C6EA;
    --dim-blue: #91A5B4;
}
.body-bg {
    background-color: var(--primary-bg-color);
}
.btn-before {
    display: none;
}
/*button taken from https://getcssscan.com/css-buttons-examples*/
.btn-after {
    background-color: rgba(51, 51, 51, 0.05);
    border-radius: 8px;
    border-width: 0;
    color: var(--primary-bg-color);
    cursor: pointer;
    display: inline-block;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    list-style: none;
    margin: 0;
    padding: 10px 12px;
    text-align: center;
    transition: all 200ms;
    vertical-align: baseline;
    white-space: nowrap;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}
.btn {
    border: solid 2px var(--light-blue);
    background-color: var(--secondary-bg-color);
    color: var(--bright-blue);
    padding: 0 12px;
    font-size: 1.2em;
    height: 2.3em;
    position: relative;
    box-shadow: 5px 5px 0 black;
}
.header-style {
    color: var(--bright-blue);
    padding: 0 12px;
    font-size: 3em;
    text-align: center;
}

.container {
    width: 70%;
    max-width: 800px;
    margin: 2em auto;
    padding: 5%;
    border-radius: 10px;
    border: solid 3px var(--bright-blue);
    box-shadow: 5px 5px 0;
    background-color: var(--secondary-bg-color);
}
.ul-padding {
    padding: 0;
    text-decoration: none;
}
li.github {
    list-style-type: none;
}
a.githubLink {
    text-decoration: none;
    list-style-type: none;
    font-size: 3em;
    font-family: "Notable", sans-serif;
    color: var(--text-color);
    background-color: var(--primary-bg-color);
    display: flex;
    justify-content: center;
    margin: 1em auto;
}
span {
    width: 100%;
    height: 3em;
    justify-content: center;
    display: flex;
    align-items: center;
    margin: 0 auto;
}
a:hover {
    transition: background-color 500ms linear;
    background-color: var(--dim-blue);
}
.red {
    text-shadow: 1px 0 10px #F21B3F;
}
span.red:hover {
    transition: text-shadow 500ms ease-in-out, margin 700ms ease-in-out;
    margin: 0;
    align-items: flex-end;
    text-shadow: 3px 5px 15px #F21B3F;
}
.blue {
    text-shadow: 1px 0 10px var(--bright-blue);
}
span.blue:hover {
    transition: text-shadow 500ms ease-in-out, transform 600ms ease;
    text-shadow: 3px 5px 15px var(--bright-blue);
    justify-content: center;
    align-items: center;
    transform: rotate(360deg);
}
.purple {
    text-shadow: 1px 0 10px #A14EBF;
}
span.purple:hover {
    transition: all 500ms ease-in;
    align-items: flex-start;
    text-shadow: 3px 5px 15px #A14EBF;
}
.green {
    text-shadow: 1px 0 10px #29bf12;
}
span.green:hover {
    transition: all 500ms ease-in-out;
    color: #c0da99;
    background-color: black;
    display: flex;
    flex-grow: 1;
    text-shadow: 3px 5px 15px #29bf12;
}
.yellow {
    text-shadow: 1px 0 10px #FFB800;
}
span.yellow:hover {
    transition: all 700ms ease-out;
    opacity: 0;
    text-shadow: 3px 5px 15px #FFB800;
}
.orange {
    text-shadow: 1px 0 10px #FF9914;
}
span.orange:hover {
    transition: all 1s ease 0s;
    text-align: center;
    transform: rotate(-45deg);
    text-shadow: 3px 5px 15px #FF9914;
}
