* {
 box-sizing: border-box;
}
body {
    margin: 0 auto;
    padding: 0;
}
a {
    text-decoration: none;
    color: black;
}
a:hover {
    color: blue;
}
nav {
    background: lightgrey;
    padding: 0 15px;
}
nav a {
    font-family: 'Montserrat', sans-serif;
    display: inline-block;
}
.logo {
    font-family: 'Work Sans', sans-serif;
    font-size: 3em;
    padding: .2em 0;
    display: flex;
    justify-content: space-around;
}
li.nav-item {
    display: flex;
    justify-content: space-between;
}

header nav>ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 0;
    padding: 0;
}