* {
 box-sizing: border-box;
}
body {
    margin: 0 auto;
    padding: 0;
}
a {
    display: inline-block;
    text-decoration: none;
    color: black;
    font-weight: bolder;
    padding: 0 .5em;
}
a:hover {
    color: blue;
}
nav {
    background: lightgrey;
}
nav a {
    font-family: 'Montserrat', sans-serif;
}
.logo {
    font-family: 'Work Sans', sans-serif;
    font-size: 3em;
    padding: .1em 0;
    display: flex;
    justify-content: center;
    /*flex-grow: 1;*/
    margin: auto;
}
li.nav-item {
    display: flex;
}
header nav>ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 0;
}