body {
    background: #1a1e38;
    color: antiquewhite;
    padding: 0;
    margin: 0;
}

nav {
    background: #0fb784;
}

nav ul {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 0;
    list-style: none;
    padding: 0;
    height: 3em;
}

nav ul li {
    margin: 0 1em;
    padding: 0;
}

main {
    padding: 1em;
}

#painting {
    display: none;
}

@media screen and (min-width: 720px) {
    nav li:nth-of-type(3) {
        flex-grow: 1;
    }
}